* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  height: 30vh;
  max-width: 1280px;
}

.main {
  height: 60vh;
}

.footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 10vh;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 8vmin;
}
